<mat-toolbar color="primary">
    <a routerLink="/" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu_book</mat-icon>
    </a>

    <span>ExamPortal</span>
    <span class="example-spacer"></span>

    <a *ngIf="!isLoggedIn" [routerLink]="'/login'" mat-icon-button class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon">
        Login
    </a>

    <a *ngIf="!isLoggedIn" [routerLink]="'/signup'" mat-icon-button class="example-icon favorite-icon left-space"
        aria-label="Example icon-button with heart icon">
        Register
    </a>

    <button *ngIf="isLoggedIn && user" class="example-icon favorite-icon left-space" mat-button
        routerLink="/admin/profile" aria-label="Example icon-button with heart icon">
        {{ user.username }}
    </button>

    <a (click)="logout()" *ngIf="isLoggedIn" [routerLink]="'/login'" mat-icon-button
        class="example-icon favorite-icon ml40" aria-label="Example icon-button with heart icon">
        Logout
    </a>

</mat-toolbar>