<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 offset-md-3 ">
                <mat-card>
                    <div class="container text-center">
                        <img src="../../../assets/logo.png" class="profile-image" alt="">
                    </div>
                    <h1 class="text-center">Register Here !!</h1>

                    <form (ngSubmit)="formSubmit()">
                        <!---Username Field-->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Username</mat-label>
                            <input required [(ngModel)]="user.username" name="username" matInput
                                placeholder="Enter here">
                            <mat-hint>Username must be unique..!!</mat-hint>
                        </mat-form-field>

                        <!---Password Field-->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Password</mat-label>
                            <input required [(ngModel)]="user.password" name="password" type="password" matInput
                                placeholder="Enter here">
                        </mat-form-field>

                        <!---Firstname Field-->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Firstname</mat-label>
                            <input required [(ngModel)]="user.firstName" name="firstName" matInput
                                placeholder="Enter here">
                        </mat-form-field>

                        <!---Lastname Field-->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Lastname</mat-label>
                            <input required [(ngModel)]="user.lastName" name="lastName" matInput
                                placeholder="Enter here">
                        </mat-form-field>

                        <!---Email Field-->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Email Address</mat-label>
                            <input required [(ngModel)]="user.email" name="email" type="email" matInput
                                placeholder="Enter here">
                        </mat-form-field>

                        <!---Phone Number Field-->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Phone Number</mat-label>
                            <input required [(ngModel)]="user.phone" name="phone" type="number" matInput
                                placeholder="Enter here">
                        </mat-form-field>

                        <div class="container text-center">
                            <button mat-raised-button color="primary">Register</button>
                            <button class="left-space" mat-raised-button color="accent">Clear</button>
                        </div>
                    </form>
                </mat-card>
            </div>
        </div>
    </div>
</div>